html {
  box-sizing: border-box;
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: #36393E;
}

.container{
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-left: 10px solid orange;
  border-right: 10px solid orange;
}

.cardsmall {
  margin: auto;
  width: 105px;
  height: 140px; 
}

.cardbig {
  margin: auto;
  width: 140px;
  height: 190px;
}

.hand {
  width: 425px;
  height: 145px; 
  border: 2px solid #000000;
  border-radius: 5px;
}

#playerhand, #aihand {
  margin-left: auto;
  margin-right: auto;
  background-color: #36393E;
}

#playerhand {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

#deck {
  position: absolute;
  top: 50%;
  margin-top: -72px;
  margin-left: 25px;
  width: 110px;
  height: 145px;
  border: 2px solid #000000;
  background-color: #36393E;
  border-radius: 5px;
}

#graveyard {
  position: absolute;
  top: 50%;
  margin-top: -72px;
  margin-left: 150px;
  width: 110px;
  height: 145px;
  border: 2px solid #000000;
  background-color: #36393E;
  border-radius: 5px;
}

#temp {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -97px;
  margin-left: -77px;
  width: 145px;
  height: 195px;
  border: 2px solid #000000;
  background-color: #36393E;
  border-radius: 5px;
}

.divider {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 50%;
  border: 2px solid #000000;
  z-index: -1;
}

.score {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
}

#playerscore {
  margin-top: 25px;
  color: #4485BF;
}

#aiscore {
  margin-top: -75px;
  color: #C93F3F;
}

#confirm {
  position: absolute;
  width: 50px;
  height: 25px;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: 115px;
}

.invisible {
  display: none;
}

#choiceform {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  color: #FFFFFF;
  margin-top: 110px;
  margin-left: -110px;
}

#choiceform input {
  margin-left: 25px;
}

#log {
  margin-top: -140px;
  height: 500px;
  width: 350px;
  /*border: 1px solid #FF0000;*/
  float: right;
}

#log .notification {
  height: 25px;
  width: 345px;
  /*border: 1px solid blue;*/
  color: #FFFFFF;
  font-size: 20px;
  word-wrap: break-word;
}